<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="CNN_TEXT" value="data source=192.168.4.120;initial catalog=E_StoreHouse;user id=stock_web;password=A12345678;max pool size=1000;packet size=4096;MultipleActiveResultSets=True;"/>-->
    <add key="CNN_TEXT" value="data source=192.168.6.57;initial catalog=E_StoreHouse;user id=sa;password=A12345678;max pool size=1000;packet size=4096"/>

    <!--<add key="CNN_TEXT" value="data source=192.168.6.66\SQLEXPRESS;initial catalog=E_StoreHouse;User ID=sa;Password=A12345678;max pool size=1000;packet size=4096;MultipleActiveResultSets=True;" />-->
    <!--<add key="XLS_PATH" value="\\192.168.4.58\es-te-nas\Neil\TempData\"/>-->
  </appSettings>
</configuration>